@media only screen and (min-width: 60em) {

    nav ul li a{
        font-size: 24px;
    }

    /*--hero--*/
    .herobutton{
        left: 150px;
        bottom: 50px;
        font-size: 3rem;
    }

}