*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

h1, h2, footer{
    font-family: 'Playfair Display SC', serif;
}

header{
    text-align: center;
    align-content: center;
}

.logo{
    height: 400px;
    margin: none;
    padding: none;
    justify-content: flex-start;
}

.logosection{
    background-color: beige;
}


.homenav{
    background-color: rgb(159, 233, 159);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

h1{
    font-size: 1.25rem;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
}

nav ul li a{
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    list-style: none;
	font-size: 1.25rem;
    font-family: 'Libre Baskerville', serif;
}

nav a:hover{
    font-weight: bold;
    width: 100%;
}

.active{
    text-decoration-line: underline;
}

.sitepurpose{
    margin: .5rem;
    padding: .5rem;
}

.availdomain{
    margin: .5rem;
    padding: .5rem;
}

li .availdom{
    list-style-type: none;
}

.logodesc{
    margin: .5rem;
    padding: .5rem;
}

.cs{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.li-cs{
    list-style-type: square;
}

.ta{
    margin: .5rem;
    padding: .5rem;
}

.twop{
    margin: .5rem;
    padding: .5rem;
}

.scen{
    margin: .5rem;
    padding: .5rem;
}

.cs{
    margin: .5rem;
    padding: .5rem;
}

.typog{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
}

footer{
    display: flex;
    margin: auto;
    width: 100%;
    background-color: rgb(159, 233, 159);
}

.footertext{
    font-size: larger;
    text-align: left;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;
}

.playfair{
    font-family: 'Playfair Display SC', serif;
    list-style-type: none;
}

.assistant{
    font-family: 'Assistant', sans-serif;
    list-style-type: none;
}

.libre{
    font-family: 'Libre Baskerville', serif;
    list-style-type: none;
}

.socialmedia{
    display: flex;
    justify-content: flex-end; 
    flex: 1 1 auto;
}

.socialmedia a{
    margin: 1rem;
}
