* {
    font-family: 'Roboto Slab', serif;  
    font-size: 16px;
}
/* phone or baseline views **************************/
header, footer{
	align-content: center;
	text-align: center;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: .5rem;
	width: 100%;
}

main {
	/* max-width: 767px; */
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

h3{
	background-color: rgb(71, 70, 70);
	color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: 1rem;
}

img{
	width: 100%;

}

/* main section h2 {
	color: #536878;
} */

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 0 1rem;
	background-color: rgb(230, 214, 214);
}

main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}



/* Tablet Views ******************************/


/* Desktop Views ****************************/

