*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

h1, .date, footer{
    font-family: 'Playfair Display SC', serif;
}

.head {
    display: flex;
	background-color: rgb(159, 233, 159);
	padding: 5px;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	align-items: center;
    justify-content: space-around;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings h1 {
	font-size: 1rem;
} 



.socialmedia {
    margin-right: 1.5rem;
    justify-content: center;
    /* justify-content: right; */
    align-items: center;
} 

.socialmedia a {
    width: 5px;
    height: auto;
}

.homenav{
    background-color: rgb(159, 233, 159);
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: right;
    padding: .5rem;
}

h1{
    font-size: 1.25rem;
} 

.date{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

nav ul {
    display: none;
}

nav ul.open{
    display: block;
}

nav ul li a{
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.25rem;
    font-family: 'Libre Baskerville', serif;
}

nav ul li{
    list-style: none;
}

nav a:hover{
    background-color: rgba(0,0,0,0.2);
}

.active{
    text-decoration-line: underline;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(1) {display: block;}

/*herodiv */
.heromain{
    position: relative;
}

.heropic{
    object-fit: fill;
}

.herotext{
    position: absolute;
    margin: 0 auto;
    top: 10px;
    left: 25px;
    color: white;
}

/* .sitepurpose{
    margin: .5rem;
    padding: .5rem;
}

.availdomain{
    margin: .5rem;
    padding: .5rem;
}

li .availdom{
    list-style-type: none;
}

.logodesc{
    margin: .5rem;
    padding: .5rem;
}

.cs{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.li-cs{
    list-style-type: square;
}

.ta{
    margin: .5rem;
    padding: .5rem;
}

.twop{
    margin: .5rem;
    padding: .5rem;
}

.scen{
    margin: .5rem;
    padding: .5rem;
}

.cs{
    margin: .5rem;
    padding: .5rem;
}

.typog{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
} */

/* footer{
    display: flex;
    margin: auto;
    width: 100%;
    background-color: rgb(159, 233, 159);
} */

/* .footertext{
    font-size: larger;
    text-align: center;
    justify-content: center;
    padding: .5rem;
    margin: 1rem;
} */

.footer{
    display: grid;
    grid-template-rows: 32% 8% 8% 8% 8% 8% 7% 7% 7% 7%;
    background-color: rgb(159, 233, 159);
    justify-content: center;
    align-items: center;
    padding: .25rem;
}

.footerlogo{
    grid-row: 1/2;
}

.fname{
    grid-row: 2/3;
} 

.fadd{
    grid-row: 3/4;
} 

.fcontactemail{
    grid-row: 4/5;
} 

.fphnumber{
    grid-row: 5/6;
} 

.fmap{
    grid-row: 6/7;
    padding: .25rem;
    border-bottom: rgba(0,0,0,0.2);
}

.footertext{
    grid-row: 7/11;
    display: flex;
    flex-direction: column;
}

.playfair{
    font-family: 'Playfair Display SC', serif;
    list-style-type: none;
}

.assistant{
    font-family: 'Assistant', sans-serif;
    list-style-type: none;
}

.libre{
    font-family: 'Libre Baskerville', serif;
    list-style-type: none;
}

