*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
}

h1, .date, footer{
    font-family: 'Playfair Display SC', serif;
}

.head {
    display: flex;
	background-color: rgb(159, 233, 159);
	padding: 5px;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	/* align-items: center;
    justify-content: space-around;
	margin-left: 1rem; */
    float: left;
    margin: 0 2% 0 0;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings h1 {
	font-size: 1rem;
} 

.socialmedia {
    margin-right: 1.5rem;
    justify-content: center;
    /* justify-content: right; */
    align-items: center;
} 

.homenav{
    background-color: rgb(159, 233, 159);
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: center; */
    justify-content: right;
    padding: .5rem;
}

h1{
    font-size: 1.25rem;
} 

.date{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
	margin: 0.5rem;
	border: 1px solid blue;
	padding: 0.75rem;
	background-color: #eee;
    letter-spacing: 1pt;
	color: navy;
	font-weight: 700;
	font-size: 0.8rem;
}

nav ul {
    display: none;
}

nav ul.open{
    display: block;
}

nav ul li a{
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.25rem;
    font-family: 'Libre Baskerville', serif;
}

nav ul li{
    list-style: none;
}

nav a:hover{
    background-color: rgba(0,0,0,0.2);
}

.active{
    text-decoration-line: underline;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(1) {display: block;}


.banner{
    display: block;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 0, 0.705);
    font-style: italic;
    padding: .5rem;
}

/*herodiv */
.heromain{
    position: relative;
}

.heropic{
    width: 100%;
    border: 1px red dashed;
}

.heropic img{
    width: 100%
}

.herotext{
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 10px;
    color: white;
}

.event, .weather, .join, .nr, .spot, .sl1, .sl2{
    border: solid rgba(0, 0, 0, 0.3);
    padding: .5rem;
    margin: .25rem;
    text-align: center;
}

.weather{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.w, .ea, .th, .er{
    padding: 1rem;
}

.heromain{
    border: none;
    margin: .25rem;
}

.sl3{
    display: none;
}

/* footer */
.footer{
    display: grid;
    grid-template-rows: 32% 8% 8% 8% 8% 8% 7% 7% 7% 7%;
    background-color: rgb(159, 233, 159);
    justify-content: center;
    align-items: center;
    padding: .25rem;
    margin: 1rem;
    text-align: center;
}

.footerlogo img{
    grid-row: 1/2;
    margin: .5px;
    padding: .5px;
    width: 50%;
}


.fname{
    grid-row: 2/3;
    padding: .25rem;
} 

.fadd{
    grid-row: 3/4;
    padding: .25rem;
} 

.fcontactemail{
    grid-row: 4/5;
} 

.fphnumber{
    grid-row: 5/6;
} 

.fmap{
    grid-row: 6/7;
    padding: .25rem;
    border-bottom: rgba(0,0,0,0.2);
}

.footertext{
    border-top: solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    grid-row: 7/11;
    display: flex;
    flex-direction: column;
}

.playfair{
    font-family: 'Playfair Display SC', serif;
    list-style-type: none;
}

.assistant{
    font-family: 'Assistant', sans-serif;
    list-style-type: none;
}

.libre{
    font-family: 'Libre Baskerville', serif;
    list-style-type: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

