@media only screen and (min-width: 60em) {
   
    	/* Flex *********************/
  	/* nav ul { 
        display: flex; 
    }
	
    nav ul li { 
        flex: 1 1 auto; 
    } 

    nav ul li a{
        font-size: 1.75rem;
    } */

    .logo img {
        width: 225px;
        height: auto;
    }

}