@media only screen and (min-width: 60em) {
   
    	/* Flex *********************/
  	/* nav ul { 
        display: flex; 
    }
	
    nav ul li { 
        flex: 1 1 auto; 
    }*/

    nav ul li a{
        font-size: 1.25rem;
    }

    .headings h1{
        font-size: 1.5rem;
    }

    .logo img {
        width: 200px;
        height: auto;
    }

    .logo {
        margin-left: 2rem;
    }

    .date{
        font-size: 1rem;
    }
    
    .main-main{
        display: grid;
        margin: 25px;
        row-gap: 5px;
        column-gap: 5px;
        justify-content: center;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 33% 33% 33%;
        font-family: 'Assistant', sans-serif;
    }

    .event, .weather, .join{
        height: 200px;
    }
   
    .heromain{
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .event{
        grid-row: 1/2;
        grid-column: 1/2;
        padding: .25rem;
    }

    .weather{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .join{
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .nr{
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .spot {
        grid-row: 1/4;
        grid-column: 3/4;
    }

    /* .light{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 32% 32% 32%;
    } */

    .sl3{
        border: solid rgba(0, 0, 0, 0.3);
        padding: .25rem;
        margin: .25rem;
        text-align: center;
    }

    .sl1{
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .sl2{
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .sl3{
        display: grid;
        grid-row: 3/4;
        grid-column: 3/4;
    }

    .footertext{
        display: flex;
        flex-direction: row;
    }
}