@media only screen and (min-width: 37.5em) {
    
    	/* Flex *********************/
  	nav ul {
        display: flex;
        width: 100%;
    }

	nav ul li { 
        flex: 1 1 auto;
        clear: both;
    } 

    nav ul li a{
        font-size: 16px;
    }

    .icon{
        width: 28px;
        flex-direction: row;
    }

    .heromain{
        margin-top: 50px;
    }

/* 
	.headings h1 {
		font-size: 2rem;
		margin: 0;
	} */

    #hamburgerBtn {
        display: none;
    }

    .logo{
        margin-right: 10px;
    }

    .main-main{
        display: grid;
        margin: 25px;
        row-gap: 5px;
        column-gap: 5px;
        padding: 1rem;
        justify-content: center;
        grid-template-columns: 50% 50%;
        /* grid-template-rows: 32% 20% 16% 16% 16%; */
        font-family: 'Assistant', sans-serif;
    }

    .heromain{
        grid-row: 1/2;
        grid-column: 1/3;
        margin: 0;
    }

    .heropic{
        height: 100%;
    }

    .nr{
        grid-row: 2/3;
        grid-column: 1/3;
        height: 200px;
    }

    .spot{
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .light{
        padding: 2px;
        margin: 0;
    }

    .sl1{
        font-size: 80%;
    }

    .sl1 img{
        display: none;
    }

    .sl2{
        font-size: 80%;
    }

    .sl2 img{
        display: none;
    }
    
    .sl3{
        display: none;
    }

    .join{
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .event{
        grid-row: 5/6;
        grid-column: 1/2;
        font-size: 85%;
    }

    .weather{
        grid-row: 5/6;
        grid-column: 2/3;
        padding: .25rem;
    }

    .w, .ea, .th, .er{
        padding: .25rem;
    }

    .weather img{
        height: 40px;
    }

/*-------------directory page------------*/
    .grid .businesses{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .list .busisect{
        flex-direction: row;
        justify-content: left;
    }

    .list .busiportrait{
        display: none;
    }

/*-------------join page----------------*/
    .joinsection{
        display: flex;
        flex-direction: row-reverse;
        padding: .5rem;
        justify-content: space-around;
        align-items: baseline;
        width: 90%;
    }

    .membership{
        align-content: center;
        justify-content: center;
        margin-right: 0;
        width: 50%;
    }

    .membership ul li{
        list-style: none;
    }

    form{
        width: 100%;
        margin-right: 0;
        align-content: center;
        justify-content: center;
    }

/*-------------contact-----------*/
.maincontact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.maincontact img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.contact{
    grid-column: 1/2;
}

.contacth2{
    color: green;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    margin-top: 4rem;
}

.contacth3, .contactp{
    text-align: center;
    padding: 1rem;
}

/*-------------footer---------------*/
    /* .footer{
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footertext{
        display: flex;
        flex-direction: row;
        font-size: small;
    }

    .footerlogo{
        grid-row: 1/4;
        grid-column: 1/2;
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }

    .footerlogo img{
        width: 100px;
    }

    .fname {
        grid-column: 2/3;
        grid-row: 1/2;
        align-items: center;
        justify-content: center;
    }

    .fadd{
        grid-row: 2/4;
        grid-column: 2/3;
        justify-content: center;
        align-items: stretch;
    }

    .fcontactemail{
        grid-row: 1/2;
        grid-column: 3/4;
        align-items: center;
        justify-content: center;
    } 

    .fphnumber{
        grid-column: 3/4;
        grid-row: 3/4;
        align-items: center;
        justify-content: center;
    }

    .fmap{
        grid-column: 3/4;
        grid-row: 2/3;
        align-items: center;
        justify-content: center;
    }

    .footertext{
        grid-row: 4/5;
        grid-column: 1/4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .25rem;
    } 
    
    .weathersource{
        grid-column: 2/3;
    } */
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    .footerlogo{
        grid-column: 1/2;
    }

    .fna{
        grid-column: 2/3;
    }

    .felph{
        grid-column: 3/4;
    }

    .footertext{
        grid-column: 1/4;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .chambertext{
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .weathersource{
        grid-row: 2/3;
    }

}