@media only screen and (min-width: 37.5em) {
    
    	/* Flex *********************/
  	nav ul {
        display: flex;
        width: 100%;
    }

	nav ul li { 
        flex: 1 1 auto;
        clear: both;
    } 

    nav ul li a{
        font-size: 1 rem;
    }

/* 
	.headings h1 {
		font-size: 2rem;
		margin: 0;
	} */

    #hamburgerBtn {
        display: none;
    }
    
    .footer{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 26% 37% 37%;
    }

    .footerlogo{
        grid-row: 1/4;
        grid-column: 1/2;
        padding: 1rem;
        height: 150px;
        justify-content: center;
        align-items: center;
    }

    .fname {
        grid-column: 2/3;
        grid-row: 1/2;
        align-items: center;
        justify-content: baseline;
        padding: none;
    }

    .fadd{
        grid-row: 2/4;
        grid-column: 2/3;
        justify-content: center;
        align-items: stretch;
        padding: none;
    }

    .fcontactemail{
        grid-row: 1/2;
        grid-column: 3/4;
        align-items: center;
        justify-content: baseline;
        padding: none;
    } 

    .fphnumber{
        grid-column: 3/4;
        grid-row: 3/4;
        align-items: center;
        justify-content: center;
        padding: none;
    }

    .fmap{
        grid-column: 3/4;
        grid-row: 2/3;
        align-items: center;
        justify-content: baseline;
        padding: none;
    }

    .footertext{
        grid-row: 4/5;
        grid-column: 1/4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .25rem;
    }
}