
* {
    margin: 0rem;
    font-family: 'Amiri', serif;
   }

body {
 background-color:  rgb(246, 105, 246);
 font-family: "Prata",'Times New Roman', Times, serif;
 font-size: 16px;
 margin: 1rem;
 border: 1px;
 padding: 2rem;
 align-items: center;
 justify-items: center;

}

header, footer {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    background-color: lightgray;
    color: purple;
    padding: 1.5rem;
    box-shadow: rgb(255, 255, 255) 7px 7px 8px;
}

header {
    font-size: larger;
}

img {
    box-shadow: rgb(255, 255, 255) 7px 7px 8px;
}
 

h1{
    margin-left: 2rem;
    justify-content: center;
    text-shadow: darkgrey 5px 5px 5px;
    font-size: 2rem;
}

h2 {
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

ul {
    border-top: solid purple;
    border-bottom: solid purple;
    margin: 10px;
    padding: 10px;
}

li {
    margin: .5px;
    padding: .5px;
}


footer {
    display: flex;
    font-size: larger;
    text-decoration-line: none;
}

span.lastupdated {
    color: fuchsia;
}